<html>
<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />              
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.min.css">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/segment.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/list.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.css" />
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.js"></script>
<script>
    
    var token =  "{{token}}"
  </script>
   <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/accordion.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>

    <style type="text/css">
       
        .container {
  max-width: 960px;
  margin: 0 auto;
}

.left {
  float: left;
  position: relative;
  width: 50%;
  height: 100%;
}

.right {
  float: left;
  position: relative;
  width: 40%;
  margin-left: 5%;
  height: 100%;
}

#display {
  background: #2d2d2d;
  border: 10px solid #000000;
  border-radius: 5px;
  font-size: 2em;
  color: white;
  height: 100px;
  min-width:200px;
  text-align: center;
  padding: 1em;
  display:table-cell;
  vertical-align:middle;
}



#drag-elements > div {
  text-align: center;
  float: left;
  padding: 1em;
  margin: 0 1em 1em 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  width: 100%;
  background: #F7F7F7;
  transition: all .5s ease;
}

#drag-elements > div:active {
  -webkit-animation: wiggle 0.3s 0s infinite ease-in;
  animation: wiggle 0.3s 0s infinite ease-in;
  opacity: .6;
  border: 2px solid #000;
}

#drag-elements > div:hover {
  border: 2px solid gray;
  background-color: #e5e5e5;
}

#drop-target {
 
  border-radius: 5px;
  min-height: 50px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 2em;
  display: block;
  text-align: center;
}

#drop-target > div {
  text-align: center;
  float: left;
  padding: 1em;
  margin: 0 1em 1em 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  width: 100%;
  background: #F7F7F7;
  transition: all .5s ease;
}

#drop-target > div:active {
  -webkit-animation: wiggle 0.3s 0s infinite ease-in;
  animation: wiggle 0.3s 0s infinite ease-in;
  opacity: .6;
  border: 2px solid #000;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(-2deg);
  }
  25% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  padding: 1em;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.gu-mirror {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

    </style>
</head>
<script type="text/javascript">
        var nodes = null;
        var edges = null;
        var network = null;

        var DIR = 'img/refresh-cl/';
        var LENGTH_MAIN = 150;
        var LENGTH_SUB = 50;

        var serverLoad1 = '<div><img src="static/images1/server" height="50px" width="50px"></img></div><div class="progress"> <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%"> 40% Complete (success) </div> </div>';

        var svg = '<svg xmlns="http://www.w3.org/2000/svg" width="390" height="65">' +
            '<rect x="0" y="0" width="100%" height="100%" fill="#7890A7" stroke-width="20" stroke="#ffffff" ></rect>' +
            '<foreignObject x="15" y="10" width="100%" height="100%">' +
            '<div xmlns="http://www.w3.org/1999/xhtml" style="font-size:40px">' +
            ' <em>I</em> am' +
            '<span style="color:white; text-shadow:0 0 20px #000000;">' +
            ' HTML in SVG!</span>' +
            '</div>' +
            '</foreignObject>' +
            '</svg>';


        

        // Called when the Visualization API is loaded.
        function draw() {
            // Create a data table with nodes.
            nodes = [];

            // Create a data table with links.
            edges = [];

            nodes.push({id: 1, title: '<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%"> 65% load </div> </div>', image: 'static/images/server.png', shape: 'image', fixed:true});
            nodes.push({id: 2, title: '<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%"> 90% load </div> </div>', image: 'static/images/server.png', shape: 'image',fixed:true});
            nodes.push({id: 3, title: '<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%"> 30% load </div> </div>', image: 'static/images/server.png', shape: 'image' ,fixed:true});
            nodes.push({id: 4, title: '<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%"> 40% load </div> </div>', image: 'static/images/server.png', shape: 'image' ,fixed:true});
            nodes.push({id: 5,title: '<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"> 70% load </div> </div>', image: 'static/images/server.png', shape: 'image' ,fixed:true});
            nodes.push({id: 6, title: '<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%"> 40% load </div> </div>', image: 'static/images/server.png', shape: 'image' ,fixed:true});
            nodes.push({id: 7, title: '<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%"> 95% load </div> </div>', image: 'static/images/server.png', shape: 'image' ,fixed:true});
            nodes.push({id: 8, title: '<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%"> 40% load </div> </div>', image: 'static/images/server.png', shape: 'image',fixed:true});
            nodes.push({id: 9,  image: 'static/images/switch.png', shape: 'image'});
            nodes.push({id: 10,  image: 'static/images/switch.png', shape: 'image'});
            nodes.push({id: 11,  image: 'static/images/switch.png', shape: 'image'});

            edges.push({from: 9, to: 1, length: 300});
            edges.push({from: 9, to: 2, length: 200});
            edges.push({from: 9, to: 3, length: 400});
            edges.push({from: 9, to: 10, length: 400});
            edges.push({from: 9, to: 11, length: 100});
            edges.push({from: 10, to: 5, length: 100});
            edges.push({from: 10, to: 6, length: 250});
            edges.push({from: 10, to: 4, length: 300});
            edges.push({from: 10, to: 9, length: 100});
            edges.push({from: 10, to: 11, length: 250});
            edges.push({from: 11, to: 7, length: 300});
            edges.push({from: 11, to: 8, length: 100});
            edges.push({from: 11, to: 10, length: 250});
            edges.push({from: 11, to: 9, length: 300});

            // create a network
            var container = document.getElementById('Iaas1');
            var container1 = document.getElementById('Iaas2');
            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {
                physics: {stabilization: false},
                edges: {smooth: false},
                width:"100%",
                height:"30%",                      
                

            };
            network = new vis.Network(container, data, options);
            network1 = new vis.Network(container1, data, options);

            network.on("click", function (params) {
                 if(params.nodes[0] == 1 )
                 {
                         $('#container1').show();
                         $('#container2').show();
                         $('#container3').show();
                         $('#container4').hide();
                         $('#container5').hide();
                         $('#container6').hide();
                         $('#container7').hide();
                         $('#container8').hide();
                         $('#container9').hide();
                         $('#container10').hide();
                         $('#container11').hide();
                         $('#container12').hide();
                         $('#container13').hide();
                         $('#container14').hide();
                         $('#container15').hide();
                         $('#container16').hide();
                         $('#container17').hide();
                         $('#container18').hide();
                         $('#container19').hide();
                         $('#container20').hide();



                        
                           
                 }
                  if(params.nodes[0] == 2 )
                 { 
                         $('#container4').show();
                         $('#container5').show();
                         $('#container6').show();
                         $('#container1').hide();
                         $('#container2').hide();
                         $('#container3').hide();
                         $('#container7').hide();
                         $('#container8').hide();
                         $('#container9').hide();
                         $('#container10').hide();
                         $('#container11').hide();
                         $('#container12').hide();
                         $('#container13').hide();
                         $('#container14').hide();
                         $('#container15').hide();
                         $('#container16').hide();
                         $('#container17').hide();
                         $('#container18').hide();
                         $('#container19').hide();
                         $('#container20').hide();
                    
                 }
                  if(params.nodes[0] == 3 )
                 {
                         $('#container7').show();
                         $('#container8').show();
                         $('#container1').hide();
                         $('#container2').hide();
                         $('#container3').hide();
                         $('#container4').hide();
                         $('#container5').hide();
                         $('#container6').hide();
                         $('#container9').hide();
                         $('#container10').hide();
                         $('#container11').hide();
                         $('#container12').hide();
                         $('#container13').hide();
                         $('#container14').hide();
                         $('#container15').hide();
                         $('#container16').hide();
                         $('#container17').hide();
                         $('#container18').hide();
                         $('#container19').hide();
                         $('#container20').hide();
                   
                 }
                  if(params.nodes[0] == 4 )
                 {
                         $('#container9').show();
                          $('#container1').hide();
                         $('#container2').hide();
                         $('#container3').hide();
                         $('#container4').hide();
                         $('#container5').hide();
                         $('#container6').hide();
                         $('#container7').hide();
                         $('#container8').hide();
                         
                         $('#container10').hide();
                         $('#container11').hide();
                         $('#container12').hide();
                         $('#container13').hide();
                         $('#container14').hide();
                         $('#container15').hide();
                         $('#container16').hide();
                         $('#container17').hide();
                         $('#container18').hide();
                         $('#container19').hide();
                         $('#container20').hide();
                       
                 }
                  if(params.nodes[0] == 5 )
                 {
                         $('#container10').show();
                         $('#container11').show();
                          $('#container1').hide();
                         $('#container2').hide();
                         $('#container3').hide();
                         $('#container4').hide();
                         $('#container5').hide();
                         $('#container6').hide();
                         $('#container7').hide();
                         $('#container8').hide();
                         
                         $('#container9').hide();
                         
                         $('#container12').hide();
                         $('#container13').hide();
                         $('#container14').hide();
                         $('#container15').hide();
                         $('#container16').hide();
                         $('#container17').hide();
                         $('#container18').hide();
                         $('#container19').hide();
                         $('#container20').hide();
                         
                    
                 }
                  if(params.nodes[0] == 6 )
                 {
                         $('#container12').show();
                         $('#container13').show();
                         $('#container14').show();
                         $('#container15').show();
                         $('#container1').hide();
                         $('#container2').hide();
                         $('#container3').hide();
                         $('#container4').hide();
                         $('#container5').hide();
                         $('#container6').hide();
                         $('#container7').hide();
                         $('#container8').hide();
                         
                         $('#container9').hide();
                         
                         $('#container10').hide();
                         $('#container11').hide();
                      
                         
                         $('#container16').hide();
                         $('#container17').hide();
                         $('#container18').hide();
                         $('#container19').hide();
                         $('#container20').hide();
                         
                 }
                  if(params.nodes[0] == 7 )
                 {
                        $('#container16').show();
                         $('#container17').show();
                         $('#container18').show();
                          $('#container1').hide();
                         $('#container2').hide();
                         $('#container3').hide();
                         $('#container4').hide();
                         $('#container5').hide();
                         $('#container6').hide();
                         $('#container7').hide();
                         $('#container8').hide();
                         
                         $('#container9').hide();
                         
                         $('#container10').hide();
                         $('#container11').hide();
                      
                         
                         $('#container12').hide();
                         $('#container13').hide();
                         $('#container14').hide();
                         $('#container15').hide();
                         $('#container19').hide();
                         $('#container20').hide();
                         
                 }
                  if(params.nodes[0] == 8 )
                 {
                     $('#container19').show();
                         $('#container20').show();
                         $('#container1').hide();
                         $('#container2').hide();
                         $('#container3').hide();
                         $('#container4').hide();
                         $('#container5').hide();
                         $('#container6').hide();
                         $('#container7').hide();
                         $('#container8').hide();
                         
                         $('#container9').hide();
                         
                         $('#container10').hide();
                         $('#container11').hide();
                      
                         
                         $('#container12').hide();
                         $('#container13').hide();
                         $('#container14').hide();
                         $('#container15').hide();
                         $('#container16').hide();
                         $('#container17').hide()
                         $('#container18').hide()
                         $('#container19').hide();
                         
                       
                 }
                 


              
});
network1.on("click", function (params) {
  document.getElementById("server-openstack").innerHTML = "Server " + params.nodes[0];
                
             
});

    
        }
    </script>
</div>
<body onload="draw()">
<div  class="row">
    <h1>Demo MIRA!</h1>
</div>
<div class="row">

<div class="col-md-3">
<img  src="static/images/lxc1.png" height="100px" width="100%" ></img>
    
    <div id="drag-elements">
         
      <div id="container1" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 1</div>
      </div>
        
      <div id="container2" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 2</div>
      </div>

      <div id="container3" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 4</div>
       </div>
       <div id="container4" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 5</div>
       </div>
       <div id="container5" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 6</div>
       </div>
       <div id="container6" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 7</div>
       </div>
       <div id="container8" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 8</div>
       </div>
       <div id="container9" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 9</div>
       </div>
       <div id="container10" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 10</div>
       </div>
       <div id="container11" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 11</div>
       </div>
       <div id="container12" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 12</div>
       </div>
       <div id="container13" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 13</div>
       </div>
       <div id="container14" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 14</div>
       </div>
       <div id="container15" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 3</div>
       </div>
       <div id="container16" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 15</div>
       </div>
       <div id="container17" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 3</div>
       </div>
       <div id="container18" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 3</div>
       </div>
       <div id="container19" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 3</div>
       </div>
       <div id="container20" class="item" style="display:none;">
            <img class="ui avatar image" src="static/images/container.png">
            <div class="content">Container 3</div>
       </div>

    </div>
    <button class="circular ui icon button teal    pull-right" data-toggle="modal" data-target="#myModal">
  <i class="icon plus"></i>  Create container
</button>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create new Container</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
                     <label>Container name:</label>
                      <br/>
                    <div class="ui input focus">

                      <input  id ="container-name-create" type="text" placeholder="Container Name" name="name1">
                    </div>
        </div>
                    <div class="form-group">
                      <label>CPU:</label>
                      <br/>
    <select class="form-control" id="cpu">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>

    </div>
          <div class="form-group">
                      <label>Memory:</label>
                      <br/>
    <select class="form-control" id="ram">
        <option value="512M">512M</option>
        <option value="1G">1G</option>
        <option value="2G">2G</option>
        <option value="3G">3G</option>
      </select>

    </div>

   </div>

      <div class="modal-footer">
         <button type="button" class=" small ui inverted blue button" id="create-button" href="#">Create</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
  
</div>
<div class="col-md-3">
    <img  src="static/images/amazon.png" height="100px" width="100%"></img>
    <div class="ui teal segment">

    <div id="Iaas1"></div>
    </div>
</div>

<div class="col-md-3">
<img  src="static/images/OpenStack.png" height="100px" width="100%"></img>
<div class="ui teal segment ">

<div id="Iaas2"></div>
</div>
</div>
<div class="col-md-3">
<img  src="static/images/lxc1.png" height="100px" width="100%" ></img>
   <h2><span id="server-openstack" class="label label-success"></span></h3>
    <p ></p>
   <div id="drop-target">
   <div id="loader-migrate" style="display:none;">    
  <div class="ui active inverted dimmer"  >
    <div class="ui text loader">Migration In Process ...</div>
  </div>
    </div>
    </div>
  
  



</div>
</div>
<!-- Modal -->
<div class="row">
  <div id="openstack-video">
    <h1><span class="label label-default">Consumed service:</span></h1>
  </div> 
  <div id="amazon-video" style="display:none;">
  </div>   
</div>  
<div class="row">
  <div class="col-md-5">
  </div>
  <div class="col-md-5">
    <video width="320" height="240" controls src="http://192.168.0.18">

  Your browser does not support the video tag.
</video>
  </div>
  

</div>  



<script type=text/javascript src="{{
  url_for('static', filename='ajax.js') }}"></script>
</body>
